.img-avatar-user{
    border-radius: 50%;
    width: 100px;
    margin: 20px;
    
}
.container-user-bai3{
    width: 700px;
    background-color: #4B0082;
    color: white;
    box-shadow: 1px 1px 50px 1px rgb(17, 17, 17);
    border-radius: 10px;

}
.info-user-bai3{
    display: flex;
    padding: 20px;
}
.info-all-bai3{
    margin: 0px 20px;
    text-align: left;
}
.info-follow-bai3{
    display: flex;
    width: 400px;
    margin: 10px 0px;
    justify-content: space-between;
}
.action-bai3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name-user-bai3{
    font-size: 20px;
    font-weight: 600;
    margin:20px 0px;
}
.flw-bai3{
    margin: 5px;
    padding: 7px;
    background-color: #191970;
    border-radius: 20px;
    font-size: 10px;
}