.container-bai3{
    width: 100%;
    height:753px;
    /* min-height: ; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search-bai3{
    width: 500px;
    background-color: #4B0082;
    height: 40px;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;

}
.input-search-bai3::placeholder{
    color: rgb(228, 222, 210);
    padding-left: 10px;
}
.div-user-bai3{
    margin-top: 20px;
    display: flex;
    justify-content: center;    
}
.main-bai3{
    text-align: center;
}
.background-bai3{
    background-color: #191970;
    
}