.App {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .main{
    text-align: center;
    border-radius: 30px;
    height: 40%;
    width: 50%;
    background-color: white;
    font-family: 'Comic Sans MS'
    
  }
  .title{
    color: rgb(156, 149, 149);
  }
  .joke{
    font-weight: 500;
    font-size: 30px;
  }
  .main-text{
    margin: 20px;
  }
  .button-bai2{
    
    cursor: pointer;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(128, 56, 223);
    width: 300px;
    height: 40px;
  }
  button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .background-bai2{
    width: 1519.2px;
    height: 770px;
    background-color: rgba(50, 30, 227, 0.895);
  }